<div class="container">
  <div class="row">
    <div class="col-mg-2">
      <h4 class="font-weight-bold my-4 bg-light">ログ詳細</h4>
    </div>
  </div>
  <div class="row">

    <div class="col-lg-4">
      <% if @log.image.attached? %>
        <%= image_tag @log.get_image, width: 300, height: 200 %>
      <% else %>
        <%= image_tag 'no_image', size: "200x200" %>
      <% end %>
    </div>

    <div class="col-lg-8">

      <table>
        <tr>
          <td>タイトル</td>
          <td><%= @log.title %></td>
        </tr>
        <tr>
          <td>旅行先</td>
          <td><%= @log.location %></td>
        </tr>
        <tr>
          <td>旅行日</td>
          <td><%= @log.date %></td>
        </tr>
        <tr>
          <td>物価</td>
          <td><%= @log.price_i18n %></td>
        </tr>
        <tr>
          <td>治安</td>
          <td><%= @log.public_order_i18n %></td>
        </tr>
        <tr>
          <td>食事</td>
          <td><%= @log.meal_i18n %></td>
        </tr>
        <tr>
          <td>投稿者</td>
          <td><%= link_to @log.user.name, user_path(@log.user.id) %></td>
        </tr>
        <tr>
          <td>内容</td>
          <td><%= @log.body %></td>
        </tr>

      </table>

    </div>
  </div>
</div>

<div class="text-center">
  <% if @log.user == current_user %>
    <%= link_to "編集する",edit_log_path(@log.id),class: "btn btn-success" %>
  <% end %>
</div>

