<% if @model == 'user' %>
	<h3>ユーザー検索結果 "<%= @content %>"</h3>
  <%= render 'public/users/index', users: @records %>
<% elsif @model == 'log' || @model == 'tag' %>
	<h3>ログ検索結果 "<%= @content %>"</h3>

<div class="container my-5">

  <div class="row">
    <div class="col text-center mb-4">
      <%= link_to "新しい順", logs_path(sort: 'created_at DESC'), class: "btn btn-outline-primary mx-2" %>
      <%= link_to "評価の高い順", logs_path(sort: 'rate DESC'), class: "btn btn-outline-primary mx-2" %>
    </div>
  </div>

  <div class="row">
    <div class="col">

      <table class='table table-bordered table-hover mx-auto w-75'>
        <thead class="thead-dark">
          <tr>
            <th>タイトル</th>
            <th>タグ</th>
            <th>旅行先</th>
            <th>投稿者</th>
            <th>コメント</th>
            <th>いいね</th>
            <th>評価</th>
          </tr>
        </thead>

        <tbody>
          <% @records.each do |log| %>
            <tr>
              <td><%= link_to log.title, log_path(log.id), class: "text-primary" %></td>
              <td>
                <ul class="list-unstyled mb-0">
                  <% log.tags.each do |tag| %>
                    <li><%= link_to tag.name, search_path(content: tag.name, model: "tag", method: "perfect"), class: "badge badge-secondary" %></li>
                  <% end %>
                </ul>
              </td>
              <td><%= log.location %></td>
              <td><%= link_to log.user.name, user_path(log.user.id), class: "text-success" %></td>
              <td><%= link_to "#{log.log_comments.count} コメント", log_path(log.id), class: "text-info" %></td>
              <td><%= link_to "#{log.favorites.count} いいね", log_path(log.id), class: "text-danger" %></td>
              <td><%= render "public/logs/static_rate", log: log %></td>
            </tr>
          <% end %>
        </tbody>

      </table>

      <div class="d-flex justify-content-center">
      </div>
    </div>
  </div>
</div>

<% end %>