<div class="container my-5">
  <div class="row">
    <div class="col-12">
    <h4 class="font-weight-bold text-center bg-light py-2">ログ一覧</h4>
    </div>
  </div>

  <div class="row">
    <div class="col text-center mb-4">
      <%= link_to "新しい順", logs_path(sort: 'created_at DESC'), class: "btn btn-outline-primary mx-2" %>
      <%= link_to "評価の高い順", logs_path(sort: 'rate DESC'), class: "btn btn-outline-primary mx-2" %>
    </div>
  </div>

  <div class="row">
    <div class="col">

      <table class='table table-bordered table-hover mx-auto'>
        <thead class="thead-dark">
          <tr>
            <th>ログID</th>
            <th>タイトル</th>
            <th>タグ</th>
            <th>旅行先</th>
            <th>投稿者</th>
            <th>コメント</th>
            <th>いいね</th>
            <th>評価</th>
          </tr>
        </thead>

        <tbody>
          <% @logs.each do |log| %>
            <tr>
              <td><%= log.id %></td>
              <td><%= link_to log.title, admin_log_path(log.id), class: "text-primary" %></td>
              <td>
                <ul class="list-unstyled mb-0">
                  <% log.tags.each do |tag| %>
                    <li><span class="badge badge-secondary"><%= tag.name %></span></li>
                  <% end %>
                </ul>
              </td>
              <td><%= log.location %></td>
              <td><%= link_to log.user.name, admin_user_path(log.user.id), class: "text-success" %></td>
              <td><%= link_to "#{log.log_comments.count} コメント", admin_log_path(log.id), class: "text-info" %></td>
              <td><%= link_to "#{log.favorites.count} いいね", admin_log_path(log.id), class: "text-danger" %></td>
              <td><%= render "public/logs/static_rate", log: log %></td>
            </tr>
          <% end %>
        </tbody>

      </table>

      <!-- ページネーション -->
      <div class="d-flex justify-content-center">
        <%= paginate @logs, class: "pagination pagination-sm" %>
      </div>
    </div>
  </div>
</div>
