<h2 class="font-weight-bold text-center bg-light py-2">ログイン</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="container">
    <!-- エラーメッセージ -->
    <%= render "public/shared/error_messages", resource: resource %>

    <div class="mb-3">
      <%= f.label :email, "メールアドレス", class: "form-label" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>

    <div class="mb-3">
      <%= f.label :password, "パスワード", class: "form-label" %>
      <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
    </div>

    <div class="text-center">
      <%= f.submit "ログイン", class: "btn btn-primary btn-lg w-100" %>
    </div>

  </div>
<% end %>

<div class="container text-center mt-3">
  <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "btn btn-secondary btn-lg w-100" %>
</div>


