<div class="container">
  <div class="row">
    <div class="col">

      <table class='table mx-auto my-5 w-75'>
        <thead>
          <tr class="bg-light">
            <th>会員ID</th>
            <th>名前</th>
            <th>年齢</th>
            <th>性別</th>
            <th colspan="1"></th>
          </tr>
        </thead>

        <% users.each do |user| %>

        <tbody>
          <tr>
            <td><%= user.id %></td>
            <td><%= link_to user.name, user, class: "user_#{user.id}" %></td>
            <td><%= user.age %>歳</td>
            <td class="<%= user.gender ? 'text-success font-weight-bold' : 'text-muted font-weight-bold' %>"><%= user.status %></td>
            <td><%= render "public/relationships/btn", user: user %></td>
          </tr>
        </tbody>

        <% end %>

      </table>
    </div>
  </div>
</div>