<div class="container">
  <div class="row">
    <div class="col-mg-2">
      <h4 class="font-weight-bold my-4 bg-light">ユーザー詳細</h4>
    </div>
  </div>
  <div class="row">

    <div class="col-lg-8">

      <table>
        <tr>
          <td>名前</td>
          <td><%= @user.name %></td>
        </tr>
        <tr>
          <td>年齢</td>
          <td><%= @user.age %>歳</td>
        </tr>
        <tr>
          <td>性別</td>
          <td class="<%= @user.gender ? 'text-success font-weight-bold' : 'text-muted font-weight-bold' %>"><%= @user.status %></td>
        </tr>
      </table>

      <table class='table mx-auto my-5 w-75'>
        <thead>
          <tr class="bg-light">
            <th>タイトル</th>
            <th>旅行先</th>
            <th>投稿者</th>
            <th>コメント</th>
            <th>いいね</th>
          </tr>
        </thead>

        <% @logs.each do |log| %>

          <tbody>
            <tr>
              <td><%= link_to log.title, log_path(log.id) %></td>
              <td><%= log.location %></td>
              <td><%= log.user.name %></td>
              <td><%= link_to "#{log.log_comments.count} コメント", log_path(log.id) %></td>
              <td><%= link_to "#{log.favorites.count} いいね", log_path(log.id) %></td>
            </tr>
          </tbody>

        <% end %>

      </table>

    </div>
  </div>
</div>

<div class="text-center">
  <% if @user == current_user %>
    <%= link_to "編集する",edit_user_path(@user.id),class: "btn btn-success" %>
  <% end %>
</div>


